<!DOCTYPE html>
<html>
    <head>
            <title>Project</title>
    </head>
    <body>
            <p>
                Content goes here ..
            </p>
            </script>
    </body>
</html>